<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <title>Home</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <h1>welcome</h1>
    <div class="home-container">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quam fuga cupiditate nulla rerum, molestiae pariatur optio. Voluptatem deleniti repudiandae nemo consequatur eveniet voluptates maiores ex asperiores hic sint commodi, magnam, delectus doloribus beatae corporis optio animi aliquid dignissimos culpa, inventore explicabo atque dolorem reprehenderit! Quidem dolor nemo facere autem.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ratione mollitia ab hic aut exercitationem, delectus eos similique quas. Reprehenderit, quaerat deserunt a, accusamus at corporis iste totam nobis aspernatur dolorum libero earum voluptas suscipit cupiditate voluptate sapiente magni. Natus adipisci necessitatibus, nostrum error aut totam deleniti, incidunt exercitationem id perspiciatis ipsam? Dolores aliquam odio pariatur, impedit sint explicabo ullam cumque repellendus cum adipisci esse vel commodi ducimus nam enim soluta voluptatum consequatur at quam! Officiis, sequi laborum. Voluptate blanditiis harum maiores aperiam obcaecati qui. Iste, quam sint facere excepturi aperiam optio ipsam in, modi dolorem iusto accusamus debitis nam aspernatur tempore eos illum neque magnam corporis vero repellendus fugit ducimus voluptate! Dolor hic quidem laborum! Earum, provident! Tempora, soluta.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad culpa illum doloribus sint animi asperiores ex repellat! Voluptatum cupiditate voluptas iure quam velit, iusto quis delectus tenetur harum eligendi quod voluptatem omnis? Iusto sapiente incidunt veniam fugiat sit laborum iure distinctio similique voluptatum accusantium quis, eaque nesciunt soluta totam nisi ut officia esse. Reiciendis consequatur laudantium aliquam voluptas itaque neque quos omnis ducimus consequuntur voluptate nobis ex, ipsum adipisci similique modi amet. Odio vitae magnam eligendi, quo nobis nesciunt adipisci tempora. Voluptas, temporibus. Neque eius temporibus, architecto deleniti illum labore quis asperiores obcaecati atque, assumenda, laborum sint harum eligendi consequatur quae. Iure placeat saepe consequatur deleniti inventore maiores dolores reiciendis excepturi dolor molestiae veniam nesciunt delectus explicabo perspiciatis doloribus corrupti assumenda aperiam accusamus in nisi ratione, magni ut magnam eos! Fuga ab, nemo non laudantium maxime labore, sed nulla aliquid, illo assumenda laboriosam natus exercitationem suscipit nesciunt tenetur beatae molestiae tempora expedita velit voluptates laborum saepe distinctio corporis delectus! Reprehenderit minus accusamus dicta, cupiditate tempora ducimus praesentium sit omnis ab hic quasi dolore natus similique doloribus provident atque ea, quas iste corporis labore. Reprehenderit quos, blanditiis pariatur ad aliquid ratione temporibus? Minus quibusdam ducimus eos ex deserunt adipisci iure unde.
      </p>
    </div>
  </body>
</html>
